/* edit this file to add custom styles */

.inline-figure { border: none; }
.quarto-cover-image { display: block; }
/* named colours */
:root {
  --espresso: #62371d;
  --fire: #e09423;
}

/* rainbow borders */
body {
  margin-top: 18px;
  box-shadow:
    0 -9px 0 0px var(--fire),
    0 -18px 0 0px var(--espresso);
}

